.header-bar {
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-left: 1px solid rgba(0,0,0,.3);;
    background-color: #2f6997;
    color: #fff;
    align-items: center;
}

.header-user {
    width: 100%;
    margin-left: 15px;
}

.header-name {
    display: inline-block;
}

.header-bar .header-img{
    display: inline-block;
    width: 40px;
    margin-left:20px;
}

.header-bar .header-img img{
    border-radius: 50%;
}

.header-info {
    display: flex;
    margin-left: 0;
    flex-wrap: wrap;
    margin-top: -4px;
}

.header-info-text {
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
}

.header-info .online {
    font-style: italic;
    margin-right: 5px;
}