.chat-list-container .chat-list-title {
    padding: 15px;
}

.chat-list-container .chat-list-contact {
    padding: 15px;
    display: inline-block;
}

.chat-list-container .chat-list-contact span {
    width: 8px;
    height: 8px;
    /* background-color: black; */
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
}

.chat-list-container .chat-list-contact span.online {
    background-color: #00b347;
}

.chat-list-container .chat-list-contact span.offline {
    border-radius: 1px solid #fff;
}   
.chat-list-container .chat-list-contact .chat-list-user-name {
    display: inline-block;
    font-size: 14px;
} 
