.user-header-continer {
    height: 60px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.user-header-continer .user-img{
    width: 40px;
    margin: 0 20px;
}

.user-header-continer .user-img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-header-continer .user-name {
    align-self: center;
}