.message-box-component {
    height: 45px;
    width: 95%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid #c3c3cc;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.message-box-component textarea {
    resize: none;
    -ms-overflow-style: none;
    overflow:hidden;
    height: 50%;
    border: none;
    width: 100%;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}


.send-icon {
    font-size: 22px;
    margin-right: 15px;
}